<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForceSensorPanelToMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ForceSensorPanelToMonitor.Properties.Settings>
            <setting name="MonitorName" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowClass" serializeAs="String">
                <value>TForm_HWMonitoringSensorPanel</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreventOtherApplications" serializeAs="String">
                <value>False</value>
            </setting>
        </ForceSensorPanelToMonitor.Properties.Settings>
    </userSettings>
</configuration>